body{
  background-color: black;
}

#img-left, #img-right{
width: 20vw;
height: 100vh;
}


@media screen and (max-width: 1024px) {
  /* Estilos específicos para pantallas más pequeñas */
  #img-left {
      width: 80pt;
      height: 550pt;
  }
}


@media screen and (max-width: 1024px) {
  /* Estilos específicos para pantallas más pequeñas */
  #img-right {
      width: 80pt;
      height: 550pt;
  }
}


/* #title-container {
  position: fixed;
  top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5vh;
  right: 5vh;

} */

/* Estilos generales para el título */
#title {
    font-size: 55px; 
    color: aliceblue;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 900px) {
    /* Estilos específicos para pantallas más pequeñas */
    #title {
        font-size: 6.5vw;
    }
}

